@import url('reset.css');
@import url('variables.css');
@import url('layout.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/hero.css');
@import url('components/card.css');
@import url('animations.css');


/* Proteção de imagens */
img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

[data-fade] {
  opacity: 0;
  transition: opacity 0.6s;
}

[data-fade].apareceu {
  opacity: 1;
}