:root {
  --cor-primaria: #11131baf;
  --cor-secundaria: #eeeeee;
  --cor-destaque: #b6b6bd;
  --cor-fundo: #ffffff;

  --fonte-principal: 'Open Sans', sans-serif;
  --espacamento: 0.4rem;

  --header-height: 60px; /* Variável para a altura do header */
  --largura-maxima: 1200px; /* Largura máxima do layout */

  --espacamento-div: 4rem;

  /* --- EFEITOS REUTILIZÁVEL --- */
  --efeito-blur: blur(3px);                  /* Intensidade do desfoque */
  --sombra: 0 4px 8px #0a0a0a71;           /* Sombra padrão */
  --borda-arredondada: 30px;                    /* Raio da borda */
}
