[data-fade] {
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* Só aplica o translateY em elementos que não sejam o header */
[data-fade]:not(header):not(.header) {
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

[data-fade].apareceu {
  opacity: 1;
}

[data-fade].apareceu:not(header):not(.header) {
  transform: translateY(0);
}
