:root {
  --cor-primaria: #222;
  --cor-secundaria: #f5f5f5;
  --cor-destaque: #ff6600;

  --fonte-principal: 'Arial', sans-serif;
  --espacamento: 1rem;

  --header-height: 70px; /* Variável para a altura do header */
}
