:root {
  --cor-primaria: #272727;
  --cor-secundaria: #eeeeee;
  --cor-destaque: #9e9ead;

  --fonte-principal: 'Open Sans', sans-serif;
  --espacamento: 1rem;

  --header-height: 55px; /* Variável para a altura do header */
}
