.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--espacamento);
  margin-top: var(--espacamento);
}

.nav__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
